
@{
    ViewBag.Title = "Successful Register";
}

<h2 class="text-center">Successful Register</h2>
<hr/>
<div class="text-center">
    <h4>Login to continue using the service</h4>
    <br/>
    @Html.ActionLink("Login", "Login", "Account",null, new {@class="btn btn-primary btn-lg"})
    <br/>
</div>


